<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzaria Fantastica</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/pizza.css" />
  </head>
  <body>
    <header>
      <a href="/"><button>&larr; Voltar Página Inicial</button></a>
    </header>
    <section>
      <h1><%= pizza.nome %></h1>
      <h2><%= pizza.preco %></h2>
      <img src=<%= pizza.img %> >
      <div><%= pizza.ingredientes.join(", ") %></div>
    </section>
  </body>
</html>
